.manual {
    min-width: 980px;
}

.manualpanel {
    margin-right: 20px;
}

.manualpanel > button {
    position: fixed;
    right: 5px;
    top: 390px;
}

.panel-primary {
    border-color: lightblue;
}

.panel-primary > .panel-heading {
    background: lightblue;
    border: none;
}

.manualcontent {
    border: 2px solid lightblue;
    margin-top: -30px;
}

.manualbasicinfo > h4, .manualdimensions > h4, .manualassign > h4, .manualviewable > h4 {
    background: lightblue;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;
    width: 270px;
    border-radius: 3px;
}

.NameAndInput {
    display: flex;
    margin-bottom: 20px;
}

.NameAndInput:first-child, .NameAndInput:first-child + div {
    margin-top: 30px;
}

.NameAndInput > h4 {
    width: 200px;
    text-align: right;
    margin-right: 20px;
    margin-top: 0;
}

.NameAndInput > input, .SelectCls {
    max-width: 400px;
}

.manualdimensions {
    padding: 15px;
    margin: -40px 0 0;
}

.manualdimensions > hr, .manualassign > hr, .manualviewable > hr {
    background: lightblue;
    height: 4px;
    margin-top: -30px;
    margin-left: 270px;
}

.ManualAssignToWho {
    min-width: 300px;
    border-radius: 3px;
    border: 1px solid lightblue;
    height: 80px;
    display: flex;
    padding-right: 0;
    margin: 20px 30px 0 0;
}

.AssignInfo > hr {
    margin: 0;
}

.AssignInfo > h5 {
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DeleteAssignBtn {
    background: darkred;
    border: medium none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    margin: -1px;
}

.DeleteAssignBtn:hover {
    background: #CD3333;
}

.manualviewable > div {
    margin: 10px 30px 0 0;
}

.Addmanualdimensions, .Addmanualassign {
    width: 40px;
    height: 120px;
    margin: -115px 0 -30px 80px;

}

.Addmanualassign {
    margin: -5px 0 -120px 80px;
}

.Addmanualdimensions > div:first-child, .Addmanualassign > div:first-child {
    height: 60px;
    backgound: #000;
    border-left: 2px solid lightblue;
    margin: 0 0 0 18px;
}

.Addmanualdimensions > div:first-child + div, .Addmanualassign > div:first-child + div {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: lightblue;

    /*Add Animate*/
    animation: AddManualDimensionsAnimate 1s;
    animation-iteration-count: infinite;
    /*animation-direction: alternate;*/
    animation-timing-function: linear;
}

@keyframes AddManualDimensionsAnimate {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(20deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.Addmanualdimensions > div:first-child + div:hover, .Addmanualassign > div:first-child + div:hover {
    animation-play-state: paused;
    cursor: pointer;
}

.Addmanualdimensions > div:first-child + div > i, .Addmanualassign > div:first-child + div > i {
    margin: 12px 0 0 12px;
    color: lightseagreen
}

.ShowViewableGroups {
    display: none;
    height: 100px;
    border: 2px solid lightblue;
    border-radius: 3px;
    margin: -20px 0 0 17px;
    overflow-y: auto;
}