.manual {
    min-width: 980px;
}

.manualpanel {
    margin-right: 20px;
}

.manualcontent {
    border: 2px solid lightblue;
    margin-top: -30px;
}

.manualbasicinfo > h4, .manualdimensions > h4, .manualassign > h4, .manualviewable > h4 {
    background: lightblue;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;
    width: 270px;
    border-radius: 3px;
}

.NameAndInput {
    display: flex;
    margin-bottom: 20px;
}

.NameAndInput:first-child, .NameAndInput:first-child + div {
    margin-top: 30px;
}

.NameAndInput > h4 {
    width: 200px;
    text-align: right;
    margin-right: 20px;
    margin-top: 0   ;
}

.NameAndInput > input, .SelectCls {
    max-width: 400px;
}

.manualdimensions {
    padding: 15px;
}

.manualdimensions > hr, .manualassign > hr, .manualviewable > hr {
    background: lightblue;
    height: 4px;
    margin-top: -30px;
    margin-left: 270px;
}

.ManualAssignToWho {
    min-width: 300px;
    border-radius: 3px;
    border: 1px solid lightblue;
    height: 100px;
    display: flex;
    padding-right: 0;
    margin: 20px 30px 0 0;
}

.AssignInfo > hr {
    margin: 0;
}

.AssignInfo > h4 {
    margin-right: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.DeleteBtn {
    background: #CD3333;
    border: medium none;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    margin: -1px;
}

.DeleteBtn:hover {
    background: darkred;
}